
body {
  
  background-color: 
     #99f0ca
      ; 
}





.art2 {
  
  text-align: center;
  padding: 8px;

  background-color:   #cee0d3  ;
   border-radius: 4px;
  
}

.art4 {
  border-radius: 4px;
  background-color:  #cee0d3   ;
  
   text-align: center;
  


  
  
}

